.shows {
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/thumb-1920-690190.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    display: none;
}