.Trailer {
    max-width: 100vw;
    width: 80%;
    margin: 0 auto;
    
    &__container {
        max-width: 100vw;
        width: 100%;
        background: rgb(6,19,70);
        background: linear-gradient(90deg, rgba(6,19,70,1) 0%, rgba(67,91,142,1) 69%, rgba(0,212,255,1) 100%);
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        &__iframe {
            width: 60%;
            padding: 10px;
            border-radius: 30px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}