@use 'header';
@use 'carousel';
@use 'Trailer';
@use 'filme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.button {
    

    &--secundary {
        background: rgb(4, 100, 243);

        &:hover {
            background: rgb(171, 194, 230);
            color: black;
            scale: 1.1;
            transition: 1s ease;
            font-size: 26px;
            letter-spacing: 3px;
        }
    }

    &--third {
        background: rgba($color: #354cce, $alpha: 0.8);
        width: 300px;
        color: white;
        border: none;
        border-bottom: 2px solid black;
        border-radius: 6px;

        &:hover {
            background: rgba($color: #000000, $alpha: 0.5);
            color: white;
            border-bottom: 2px solid white;
        }
    }

    &--dark {
        background: rgba(0, 0, 0, 0.8);
    }
}

.title {
    font-size: 24px;
    color: black;
}

.title--big {
    text-align: center;
    font-size: 28px;
    color: white;
}

.text--center {
    text-align: center;
}

.shows__list__item--is-active {
    display: block;
}

.shows__tabs__button--is-active {
    border-bottom: 2px solid white;
    background: black;
}